/*stylesheet*/
body {
	margin: 0;
	margin-right: 20em;
	padding-left: 1em;
	background: gray;
	color: black;
	font-family: 'Quicksand', sans-serif;
	font-weight: 400; 
	


}

h1, h2, h3, h4, p {

	margin-top: 0;
	margin-bottom: 1em;
}

h1,h2 {
	
	font-family: 'Benne', serif;
	font-weight: 400

}


#wrapper {
	margin: 2em auto;
	max-width: 1200px;
	

}

#main {
		background: gray;
		margin: 2em;
		padding: 2em;
}

#sidebar {
	background: white;
}

#content {
	background: lightblue

}


@media (max-width: 699px) {

	#wrapper {
		margin: 0em auto;
	}

	#main {
		margin: 1em;
		padding: 0em;
	}

}
