/*stylesheet*/

h1,h2 {
	
	font-family: 'Benne', serif;
	font-weight: 400

}

body {
	margin: 20px;margin-top: 30px;
	background: gray;
	color: black;

	font-family: 'Quicksand', sans-serif;
	font-weight: 400; 
}

div {
	width: 300px;
	height: 300px;
	background: lightgray;
	margin: 2em;
	padding: 2em;
}


