/*stylesheet*/


body {
	margin: 0;
	margin-right: 5em;
	padding-left: 5em;
	color: white;
	font-family: 'Quicksand', sans-serif;
	font-weight: 400; 
		
	background-image: url(../img/the-blowup.jpg);
	
	background-repeat: no-repeat;
	background-position: cover;
	background-size: 110%;

	
}


h1, h2, h3 {

	margin-top: 0;
	margin-bottom: 1em;
	text-align: center;
	
}

h1,h2 {
	
	font-family: 'Benne', serif;
	font-weight: 400


}

img {


	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 120%;
}

#wrapper {
	margin: auto;
	max-width: 1200px;



}

#main {
	
	margin: 1em;
	padding: 1em;
}

#main img, #sidebar img {
	width: 100%;
	height: auto;
}

#sidebar {
	background: transparent;
	
	padding-left: 1em;
}

#sidebar h2, p {
	line-height: 2;
	text-align: left;
	text-decoration: none; 
}

#content {


}

.item {
	background: transparent;
	padding: 2em;
	margin-bottom: 2em;
}

.item h1, .item h2 .item h3 {
	text-align: center;
	line-height: .75
	color: white;

}

#nav ul {
	list-style: none;
	padding: 0; 
	margin: 0;
	

}

#nav li {
	display: vertical;
	margin-bottom: 1em;
	outline-color: 
}

#nav li a {
	color: white;
	background-color: transparent; 
  	text-decoration: overline;
}

a:visited {
  	color: white;
  	background-color: transparent;
  	text-decoration: ;
}


#nav li a hover {
	color: blue;
	text-decoration: line-through;
}


#logo {
	width: 50%;

}

#logo h1 {
	margin: 10;
}

#logo img {
	width: 90%;
	height: auto;
	margin-bottom: 2em;
	margin-left: 0em;
	

}

#exquisite {
	position: relative;
	margin-bottom: 2em;
}

#exquisite .grid {
	grid-gap: 0;
}

#exquisite .grid img {
	margin-bottom: 0;
}

#projects {
	margin-bottom: 2em;

}

#projects .grid-item {
	color: black;
	position: relative;
}

#projects .grid-item {
	display: block;
	width: 100%;
	height: auto; 

}

#projects .grid-item .overlay {
	transition: opacity .3s ease-in-out;
	opacity: 0; 
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: white;
	display: flex;
	align-items: center;
	justify-content: center;

}

#projects .grid-item:hover .overlay {
	opacity: 1
	}	

#projects .grid-item .overlay .project-title h3 {
	margin-bottom: 0;
}	

/* page specific styles */

	body.project1 {
			background-image: url("../img/curves.jpg");
			background-repeat: no-repeat;
			background size: cover;
	}

/* ------------*/ 


@media (max-width: 699px) {

	#wrapper {
		margin: 0em auto;
	}

	#main {
		margin: 1em;
		padding: 0em;
		opacity: 1;
	}

	#logo {
		text-align: center;
		padding: 2em 0;
	}

	#nav ul {
		display: flex;
		justify-content: space-between;
	}

	#nav li {
		display: inline;
		padding: .25em;
		background: purple;
		margin-bottom: 0;
	}

}
